alembic
email-validator
fastapi
httpx
itsdangerous>=2.1
jinja2
mypy
psycopg2-binary
pydantic>=2.0
pydantic-settings
pytest
python-jose[cryptography]
python-multipart
ruff
sendgrid
sqlalchemy>=2.0
stripe
uvicorn[standard]
